@media (min-width: 576px) {
    .input-group-prepend .input-group-text {
        min-width: 200px;
    }
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
    border: solid #dc3545 1px;
}

input.ng-touched.ng-valid,
textarea.ng-touched.ng-valid,
select.ng-touched.ng-valid {
    border: solid #28a745 1px;
}
