<div class="card" routerLink="/categories/{{product.cat_id}}/{{product._id}}">
    <div class="view overlay">
        <img src="{{product.img}}" class="card-img-top product-img" alt="{{product.name}}">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <div class="card-body text-center">
        <h5>
            <strong>
                <a href="" class="dark-grey-text">{{product.name}}</a>
            </strong>
        </h5>
        <a href="" class="grey-text">
            <h5>{{product.author}}</h5>
        </a>
        <h4 class="font-weight-bold pink-text">
            <strong>{{product.price}}грн</strong>
        </h4>
        <button class="btn btn-default btn-md my-0" type="submit">Переглянути</button>
    </div>
</div>
