<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 text-center">

        <img src="{{dataService.product.img}}" class="img-fluid" alt="{{dataService.product.name}}">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Title-->
        <h1 class="product-title mb-3">{{dataService.product.name}}</h1>

        <!--Content-->
        <div>

            <div class="mb-3">
                <a href="">
                    <span class="badge purple mr-1">{{dataService.product.cat_name}}</span>
                </a>
                <a href="">
                    <span class="badge blue mr-1">New</span>
                </a>
                <a href="">
                    <span class="badge red mr-1">Bestseller</span>
                </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>{{dataService.product.old_price}}</del>
              </span>
                <b>{{dataService.product.price}}грн</b>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{dataService.product.description}}</p>

            <form class="d-flex justify-content-left">
                <!-- Default input -->
                <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                <button class="btn btn-default btn-md my-0" type="submit">Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                </button>

            </form>

        </div>
        <!--Content-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

<hr>

<!--Grid row-->
<div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div>

        <h4 class="my-4 h4">Additional information</h4>

        <p>{{dataService.product.additional}}</p>

        <p><b>Категорія:</b> {{dataService.product.cat_name}}</p>
        <p><b>Автор:</b> {{dataService.product.author}}</p>
        <p><b>ISBN:</b> {{dataService.product.isbn}}</p>

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->
