.form-header {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    color: #fff;
    text-align: center;
    margin-top: -3.13rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: .125rem;
}

input.ng-touched.ng-invalid,
input.ng-touched.ng-invalid:focus {
    box-shadow: 0 1px 0 0 #dc3545;
    border-bottom: 1px solid #dc3545;
}

input.ng-touched.ng-valid,
input.ng-touched.ng-valid:focus {
    box-shadow: 0 1px 0 0 #28a745;
    border-bottom: 1px solid #28a745;
}

input.form-control-custom:focus + label {
    transform: translateY(-14px) scale(.8);
    color: #757575;
}
