<div class="row justify-content-center">
    <div class="col-md-6 mb-4 pb-5">
        <div class="card mt-5">
            <form  [formGroup]="addUserForm" novalidate (ngSubmit)="addUser()" class="card-body">
                <div class="form-header peach-gradient">
                    <h3>
                        <i class="fas fa-user"></i> Register:
                    </h3>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input formControlName="loginName" type="text" id="orangeForm-email" class="form-control" required>
                    <label for="orangeForm-email">Your email</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input formControlName="password" type="password" id="orangeForm-pass" class="form-control" required>
                    <label for="orangeForm-pass">Your password</label>
                </div>
                <div class="text-center">
                    <button [disabled]="addUserForm.invalid" (click)="openSnackBar()" class="btn btn-deep-orange waves-effect waves-light">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
