<div class="row">
    <div class="col">
        <h1>Single category</h1>
        <div class="row">
            <div class="col-3 wrapper py-3 my-3">
                <ul>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                    <li>Фільтри</li>
                </ul>
            </div>
            <div class="col-9">
                <div class="row">
                    <app-product-card [ngClass]="['col-md-4', 'p-3']" *ngFor="let i of products" [product]="i"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>
