/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    min-height: 101vh;
}

.wrapper {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
}

.snack-error {
    background-color: #ff3547;
    color: #fff;
}

.snack-success {
    background-color: #00c851;
    color: #fff;
}
